* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    /* max-width: 100%;
    height: calc(100vh - 16px); */
    width: 200px;
    height: 200px;
    border: 1px, solid, black;
    flex-wrap: wrap;
}

.item {
    /* flex: 0 0 6.25%; */
    flex: 0 0 calc(100%/16);

    /* flex: 1 1 0; */

    /* border: 1px, solid, black; */
}

.item:hover {
    background-color: aqua;
}